body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-information {
  padding: 60px 50px;
}

.about-me-container {
  margin-bottom: 40px;
}

.about-me-profession {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: black;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-right: 342px;
}

.my-progects-section {
  margin-bottom: 50px;
}

.main-info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}

.my-progects-list {
  width: 550px;
  padding: 0 0 0 18px;
}

.my-project-item {
  color: #000;
  font-weight: 700;
}

.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-project-text {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
}

.company {
  margin-bottom: 15px;
}
.country {
  color: #fb6d3a;
}
.position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}
.time-pleace-education,
.time-pleace {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.divider {
  color: #000;
}
.duties {
  padding-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.university {
  opacity: 0.6;
}

.university-name {
  color: #fb6d3a;
  margin-bottom: 10px;
}

.course {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 10px;
}

/* sidebar section */

.sidebar {
  background-color: #1e2939;
  width: 650px;
  padding: 40px 0;
}

.contact-informatio,
.tech-skills,
.soft-skills {
  margin: 50px 0 0 20px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin: 10px;
}

.contact {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 5px;
  padding-left: 12px;
}

.contact-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.skills {
  padding-left: 28px;
}

.skill-item {
  color: #fb6d3a;
}

.skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
